/*About us page*/
/*Last edited on 05/05/2023*/

/*Universal Styling*/
* {
box-sizing: border-box; 
margin: 0px; 
padding: 0px; 
}

/*css root declaration*/

nav { 
background-color:; 
}

nav #logo-img { 

}

nav a {

}

body {
font-size: 16px; 
}

main {

}

main .hero {

}

main #img-logo {

}
main article {

}

main article img {

}

main article p {

}

main section
{

}

footer {

}
