/*About us page*/
/*Last edited on 05/05/2023*/

/*Universal Styling*/
/* Imported Fonts */ 
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,700;1,700&family=Oxygen:wght@300&display=swap');

/*css root declaration*/
:root { 
    --primary-color: #0077be; /*<!-- Blue--> */
    --secondary-color: #ff6600; /*<!--Orange-->*/
    --accent1-color: #ffcc00; /*<!--Yellow--> */
    --accent2-color: #009933; /*<!--Green--> */
  
    --heading-font: 'Loras', serif;
    --paragraph-font: 'Oxygen', sans-serif;
    
    --nav-background-color:#003366; /*<!--Dark Blue-->*/
    --nav-link-color:#fff000; /* <!--Orange--> */
    --nav-hover-link-color:#800080; /*<!--Purple-->*/
    --nav-hover-background-color:#d1e0e3; /*<!--Pale Blue--> */

  
  }
  
  
/* Universal selector */


* {
box-sizing: border-box; 
margin: 0px; 
padding: 0px;
}

/*Header navigation*/
header {
display: grid;
justify-content: space-around;
grid-template-columns: 1fr auto;
max-width: 100%;
background-color: var(--nav-background-color);
}

/* White Water Rafting Logo */
header #logo { 
  width: 200px; 
  height: 200px;
  /* float:left; */
  margin-left: 5rem;
  
  /**background: url('..images/splash.png') no-repeat;*/
  }

/* Header navigation styling */

header nav { 
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
background-color: var(--nav-background-color);

}


/* navigation link Container*/

#link {
/* position: relative; */
display: flex;
flex-direction: row;
justify-content: center;
margin-right: 5rem;
}

/*Navigation menu items*/
#link li {
  list-style: none;
  /* display: block; */
  /* flex-grow: 2px; */
  padding: 0px; 
  /* border: 1px solid var(--nav-link-color) */
  
}

#link li a {
display: block;
color: var(--nav-link-color);
font-weight: bold;
font-size: 16px;
padding: 10px;
font-family: 'Oxygen', sans-serif;
text-decoration: none;
}

/*Navigation links hover effect*/

#link li a:hover {
background-color: var(--nav-hover-background-color);
color: var(--nav-hover-link-color);
text-decoration: none;

}

#link  .link-items {
  width: 150px;
  text-align: center;
}
/*End of header*/

/*Styling the body and main content*/

body {
font-size: 16px; 
font-family: 'Oxygen', sans-serif;
background-color: var(--primary-color);
color: #ffffff;
}

/* main element in the page */
main {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: auto;
grid-gap: 50px;
justify-items: center;
align-items: center;
}

/* Class with the name hero in main */
main .hero {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 20%;
justify-items: center;
height: 300px;
width: 90%;
/* background: url('../images/rafting13_1024.jpg') no-repeat; */
/* background-size: 100%; */

}

/* styling H1 element inside of hero div  */
.hero h1 {
grid-column: span 2;
max-height: 50px;
font-family: 'Loras', serif;
text-align: center;
padding: 10px;
align-self: center;
color: var(--accent1-color);

}
.hero article {
  grid-row: 2;
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  align-items: start;
  max-width: 90%;
  height: 200px;;
}

#hero article p {
font-size: 16px; 
align-self: center;
height: fit-content;
justify-self: center;
color: #fff;
order: 1;
}

#hero article img {
border: 5px solid var(--accent1-color);
order: 2;
justify-self: center;
align-self: center;
height: fit-content;
}

main section
{
display: grid;

}
main #sec1 {
grid-gap: 10px;
grid-template-columns: repeat(3, 1fr);
width: 90%;

}
main #sec1 h2 {
grid-column: span 3;
justify-self: center; 
color: var(--accent1-color);
font-family: 'Lora', serif;
padding: 5px;
}

#sec1 p {
height: fit-content;
padding: 10px;
font-family: 'Oxygen', sans-serif;
justify-self: end;
}

main #sec1 img {
  border: 5px solid var(--accent1-color);
  height: fit-content;
  margin: 10px;
  justify-self: center;
}

main #sec2 {
  grid-gap: 0px;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 0px;
  width: 90%;
}
main #sec2 h2 {
  grid-column: span 6;
  justify-self: center;
  color: var(--accent1-color);
  font-family: 'Lora', serif;
  padding: 5px;

}
main #sec2 figure {
  display: grid;

  max-width: 150px;
  margin-top: auto;
}

main #sec2 img {
justify-content: center;
justify-self: center;
/* margin: 20px;  */
border: 5px solid var(--accent1-color); 
/* max-width: fit-content; */
}

main #sec2 figcaption {
  background-color: #000;
  color: #fff;
  font: italic smaller san-serif;
  text-align: center;
  opacity: .8;
}

footer {
background-color: var(--nav-background-color);
display: flex;
justify-content: center;
align-items: center;
height: 5rem;
width: 100%;
}
footer #footer { 
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 0.5fr;
  align-content: center;
  justify-items: end;
  width: 90%;
  height: 3rem;
  background-color: var(--nav-background-color);

}
#footer p {
  padding-right: 20px;
  color: var(--nav-link-color);
font-weight: bold; 
font-size: 20px;
font-family: 'Oxygen', sans-serif;
}

#footer a {
  color: var(--nav-background-color);
}


