/* CSS Styles go here */

 
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,700;1,700&family=Oxygen:wght@300&display=swap');

  /*font-family: 'Oxygen', san-serif*/
  /*font-family: 'Lora', serif;*/

  :root { 
    --primary-color: #0077be; /*<!-- Blue--> */
    --secondary-color: #ff6600; /*<!--Orange-->*/
    --accent1-color: #ffcc00; /*<!--Yellow--> */
    --accent2-color: #009933; /*<!--Green--> */
  
    --heading-font: 'Loras', serif;
    --paragraph-font: 'Oxygen', sans-serif;
    
    --nav-background-color:#000080; /*<!--Dark Blue-->*/
    --nav-link-color:#fff000; /* <!--Orange--> */
    --nav-hover-link-color:#800080; /*<!--Purple-->*/
    --nav-hover-background-color:#d1e0e3; /*<!--Pale Blue--> */

  
  }
   
  body {
    font-family: var(--paragraph-font);
    background-color: var(--accent1-color)
   }

  header { 
    padding: 20px; 
    background-color: var(--nav-background-color);
    
  }

  header h1 div {
    color: #fff;
    background-color: var(--nav-background-color);
  }

  p {
    padding: 20px;
  }

  nav { 
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
  } 

  nav a {
    text-decoration: none;
    padding: 1rem;
    display: block;
    color: var(--nav-link-color);
  }

  

  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);

  }
 

